.flex-col {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.flex-between {
    justify-content: space-between;
}

body {
    --main-color: #295773;
}

nav {
    background-color: var(--main-color);
    flex-grow: 1;
    height: 0;
    border-bottom: 0.1px solid #386581;
}

header {
    width: 100vw;
}

input[type=search]+i {
    position: absolute;
    left: 24%;
    font-weight: 700;
    color: #5a6779;
}

input[type=search] {
    box-sizing: content-box;
    border-radius: 35px;
    border: 1px solid #eceff5;
    line-height: 3em;
    display: inline-block;
    padding: 0 20px 0 10px;
    background-color: #f6f4f1;
    width: 65vw;
}

input {
    width: 60%;
    color: inherit;
    font: inherit;
    margin: 0;
    line-height: normal;
    color: #3c3e42;
    outline: none;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

nav a:hover {
    background-color: var(--main-color);
    color: red;
}

button {
    top: 0;
}

.align-center {
    align-items: center;
}

.profile {
    border-radius: 100%;
    height: 60px;
    width: 60px;
}

/* //////////////////////////////////////////////////////////////////////// */
.profile-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 300px;
    display: none;
}

.profile-window div {
    display: block;
    margin: 10px 0;
    cursor: pointer;
}

.profile-window div:hover {
    color: red;
}
/* ///////////////////////////////////////////////////////////////////////////// */