* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Rubik, Lato, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #d9d5ca;
    color: #3b5998;
    font-family: Rubik, Lato, sans-serif;
    height: 100vh;
    margin: 0;

}

.login-container {
    border: 2px solid #3b5998;
    color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

input[type="text"],
input[type="password"] {
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
}

.forgot-password {
    align-self: flex-end;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #a8a8a8;
    text-decoration: none;
}

button[type="submit"] {
    background-color: #00aaff;
    color: #ffffff;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

button[type="submit"]:hover {
    background-color: #008ecc;
}

.social-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.social-login span {
    color: #a8a8a8;
    font-size: 0.9rem;
    margin: 1rem 0;
}

.social-button {
    background-color: #333;
    color: #ffffff;
    padding: 0.8rem;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.social-button.facebook {
    background-color: #3b5998;
}

.social-button.google {
    background-color: #db4437;
}

.terms {
    font-size: 0.8rem;
    color: #a8a8a8;
    margin-top: 1rem;
}

.terms a {
    color: #00aaff;
    text-decoration: none;
}

