body {
    background-color: #d9d5ca;
    color: #295773;
    direction: rtl;
    font-family: Rubik, Lato, sans-serif;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.correct {
    border: 2px solid;
    border-radius: 16px;
    width: fit-content;
}

.correct label {
    padding: 5px 0 5px 7px;
}

.right {
    accent-color: green;
}

.wrong {
    accent-color: red;
}

.question-container {
    background-color: #295773;
    color: #d9d5ca;
    width: 50%;
    margin-top: 20px;
    padding: 0 20px 20px 20px;
    text-align: center;
}

header {
    text-align: center;
    justify-content: center;
}

.score {
    margin-right: 30px;
}

button {
    position: relative;
    border: none;
    border-radius: 5px;
    height: 2.7em;
    width: 100px;
    font-size: 17px;
    text-align: center;
    /* left: 10px; */
    top: 20px;
}

button:hover {
    background-color: #236e9d;
    color: #f6f4f1;
}

.Button--Light {
    background: #f6f4f1;
    color: #295773;
}

label:hover {
    cursor: pointer;
}

input.radio {
    width: initial;
  }

#quizData {
    position: relative;
    top: 80px;
}

header {
    position: relative !important;
}


/* =================== scrollbar =================== */
/* width */
::-webkit-scrollbar {
    width: 5px !important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888 !important;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
  }
  