body {
    height: 100vh;
    background-color: #d9d5ca;
    margin: 0;
    direction: rtl;
    font-family: Rubik, Lato, sans-serif;
}

.quiz {
    height: 100px;
    background-color: #295773;
    position: relative;
    text-align: center;
    cursor: pointer;
    color: #d9d5ca;
    border-top: 0.2px solid #386581;
    left: 50px;
}

.quiz:hover {
    background-color: #386581;
}

#quizzes {
    display: flex;
    flex-direction: column;
    width: 65%;
    position: relative;
    top: 20px;
}

#categories {
    margin: 0 auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px;
    cursor: pointer;
}