body {
    --main-color--: #abced2;
    background-color: var(--main-color--);
    height: 100vh;
    margin: 0;
    direction: rtl;
    font-family: Rubik, Lato, sans-serif;
}

.quiz {
    height: 100px;
    background-color: #628da8;
    position: relative;
    text-align: center;
    cursor: pointer;
    color: var(--main-color--);
    border-top: 0.2px solid #386581;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz:hover {
    background-color: #ca6f72eb;
}

.quiz.private {
    background-color: #555;
}

#quizzes {
    display: flex;
    flex-direction: column;
    width: 65%;
    position: relative;
    top: 20px;
}

#categories {
    margin: 0 auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px;
    cursor: pointer;
}

.top {
    position: relative;
    top: 140px;
}

/* =================== scrollbar =================== */
/* width */
::-webkit-scrollbar {
    width: 5px !important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888 !important;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
  }
  