body {
    background-color: #d9d5ca;
    font-family: Rubik, Lato, sans-serif;
    height: 100vh;
    margin: 0;
    direction: rtl;
}

button {
    position: relative;
    color: aliceblue;
    background-color: #ff5c2d;
    border: none;
    border-radius: 5px;
    height: 2.7em;
    width: 115px;
    font-size: 22px;
    text-align: center;
    left: 10px;
    top: 12%;
}

button:hover {
    background-color: #ff3900;
}

.image-home-page {
    background-image: url('../assets/images/image\ \(10\).png') !important;
    background-repeat: no-repeat;
    background-size: auto 80vh;
    height: 80vh;
}

/* -------------- */

.navigation-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 2em;
}

.logo,
.logo>a {
    position: relative;
    color: aliceblue;
    font-weight: 800;
    font-size: 40px;
    text-decoration: none;
    font-weight: 900;
}

.logo {
    margin: 0 0 0 32px;
    letter-spacing: -.3px;
    float: right;
    font-size: 31px;
    font-weight: 700;
    /* color: #fff; */
    border-left: 1px solid #5a6779;
    padding-left: 30px;
    color: aliceblue;
}

.navigation-search {
    flex-basis: 50%;
    flex: 3;
    position: relative;
}

.flex-between,
.flex-start-between {
    display: flex;
    justify-content: space-between;
}

.flex-between {
    align-items: center;
}

form {
    line-height: 1;
    position: relative;
}

input[type=search] {
    box-sizing: content-box;
    border-radius: 35px;
    border: 1px solid #eceff5;
    line-height: 3em;
    display: inline-block;
    padding: 0 20px 0 10px;
    /* width: calc(100% - 75px); */
    width: 75%;
}

input {
    color: inherit;
    font: inherit;
    margin: 0;
    line-height: normal;
    color: #3c3e42;
    outline: none;
}

@media only screen and (min-width: 768px) and (max-width: 1050px) {
    input[type=search]+i {
        display: none;
    }
}

input[type=search]+i {
    position: absolute;
    left: 24%;
    font-weight: 700;
    color: #5a6779;
}

.Button {
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    background: #f2f2f2;
    font-size: 14px;
    width: 100%;
    display: inline;
    padding: 12px;
    color: #7b7b7b;
    line-height: 1;
    text-transform: capitalize;
}

.Button--Callout {
    background: #ff5c2d;
    padding: 17px 45px;
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 16px;
    width: auto;
    position: relative;
    left: 20px;
}

.Button--Callout-Small, .Button--Small {
    padding: 10px 20px;
}

.home .Header .Navigation .Navigation__account>li>a {
    color: #fff;
    max-width: 50px;
    max-height: 50px;
}

.home .Banner {
    padding: 75px 100px 95px;
    background: url('../assets/images/image\ \(1\).jpeg') 0 104% no-repeat;
    position: absolute;
    background-size: contain;
}


header {
    height: 100px;
    width: 100%;
}

.home .Banner .body {
    float: right;
    width: 48%;
    z-index: 2;
    position: relative;
}

.home .Banner h3 {
    font-size: 1.35em;
    font-weight: 400;
    margin-top: -25px;
    margin-bottom: 50px;
    padding-left: 50px;
    line-height: 2em;
    color: #cdfbff;
}

.home .Banner h1 {
    font-size: 65px;
    font-weight: 800;
    margin-top: -30px;
    margin-bottom: 50px;
    position: relative;
    line-height: 1.1;
    letter-spacing: -1px;
    color: #fff;
    margin: 1em 0;
}

.home .Banner .body>.main-buttons {
    max-width: 380px;
}

.home .Banner .Button {
    margin-left: 25px;
}

.Button--Light {
    background: #f2f2f2;
    color: #7b7b7b;
}

.Button:hover {
    background-color: #ff3900;
    color: aliceblue;
}

@media only screen and (max-width: 1200px) {
    .home .Banner {
        background-image: none;
        padding: 0;
    }

    .home .Banner .body {
        width: 80%;
        text-align: center;
        float: none;
        margin: auto;
    }

    .home .Banner .body>.main-buttons {
        margin: auto;
    }
}

.home #partner-program {
    background: url(../assets/images/partner-program-rtl.jpg) 50% 14% no-repeat;
    background-size: cover;
    font-size: 1.2em;
    position: relative;
    top: 760px;
    padding: 60px;
    color: #ddd;
}

.wrap--large {
    padding-top: 5em;
    padding-bottom: 5em;
}

.home #hot-quizzes {
    background: url(../assets/images/hot-quizzes.png) 50% 14% no-repeat;
    background-size: cover;
    font-size: 1.2em;
    position: relative;
    top: 760px;
    padding: 325px;
}

#level-up {
    background: #d9d5ca;
    position: relative;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    top: 760px;
}

#level-up .body {
    width: 60%;
    text-align: center;
    position: relative;
    right: 15%;}

#level-up>.container {
    background: url(../assets/images/level-up.png) 94% 50% no-repeat;
    background-size: 383px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3c3e42;
    margin-top: 0;
    letter-spacing: .5px;
}

.Grid__column {
    position: relative;
}

.Grid__column.six {
    width: calc(49.995% - 15px);
}

.Grid__column.six.offset {
    margin-left: 50%;
}

.Grid__column.six:nth-child(12n+1) {
    clear: right;
}

.text-align-left {
    text-align: left;
}

#partner-program a {
    color: #99c93d;
    text-decoration: none;
}